// BACKGROUND COLOR
.navbar.navbar-default{
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.35);
  // background-color: rgba(114, 194, 255, 0.9);
  // background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */


  // background: -webkit-linear-gradient(90deg, #B0DAB9 10%, #DAD299 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #B0DAB9 10%, #DAD299 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #B0DAB9 10%, #DAD299 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #B0DAB9 10%, #DAD299 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #B0DAB9 10%, #DAD299 90%); /* W3C */


  // background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* W3C */

  
  // background: -webkit-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* W3C */
  
  // background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
              
  
  // background: -webkit-linear-gradient(90deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #283048 10%, #859398 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #283048 10%, #859398 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #283048 10%, #859398 90%); /* W3C */
              
        

  border: 0px solid transparent;
}

// LINK COLOR
.navbar.navbar-default ul li a{
  color: #eeeeee;

  &:hover{
    color: #ffffff;
  }
}

// LINK ACTIVE COLOR
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: rgba(98, 171, 226, 0.1);
  color: #fff;
  font-weight: bold !important;
}


.navbar.navbar-default ul .user_avatar a{
  padding: 22px;
  cursor: pointer;

  .content-profile{
    display: block;
    font-weight: 500;
    color: #2b2b2b;

    img{
      margin-right: 10px;
    }
  }
}

.navbar.navbar-default ul li{
  .dropdown-menu{
    // width: 100%;
    border: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;

    li{
      margin-left: 0;
    }
  }
}

.navbar.navbar-default ul li .user-action{
  margin: 0;
  padding: 10px;
  border-radius: 0px;
  margin-top: 19px;
  background-color: #62abe2;
  // background-color: rgba(150, 79, 76, 1); // MARSALA 2015 color
}