// BACKGROUND COLOR
.navbar.navbar-default{
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, 0.96);
  border: 0px solid transparent;
}

// LINK COLOR
.navbar.navbar-default ul li a{
	color: #8b8b8b;
  font-size: 1.1em;

	&:hover{
		color: #000;
	}
}

// LINK COLOR
.navbar.navbar-default ul li{
  margin-left: 15px;
}


// LINK ACTIVE COLOR
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  font-weight: bold !important;
}


.navbar.navbar-default ul .user_avatar a{
  padding: 22px 16px 22px 22px;
  cursor: pointer;

  .content-profile{
    display: block;
    font-weight: 500;
    color: #2b2b2b;

    img{
      margin-right: 10px;
    }
  }
}

.navbar.navbar-default ul li{
  .dropdown-menu{
    // width: 100%;
    border: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;

    li{
      margin-left: 0;
    }
  }
}


/* Responsive: Portrait tablets and down */
@media screen and (max-width: 768px) {
  .row{
    margin: 0;
  }
  .navbar.navbar-default ul{
    margin: 0;
    text-align: center;
    li{
      display: inline-block;
      margin-left: 0;
      a{
        // font-size: 1em;
        padding: 20px; 
      }
    }
  }
  .navbar-brand{
    padding: 15px !important;
    height: 65px;
  }
  .navbar-toggle{
    border-radius: 0;
    margin: 15px 15px 15px 0;
  }
  .navbar-form{
    margin: 0;
    border: none;
    padding: 0;
    box-shadow: none;
    
    input{
      border: 0;
      padding: 5px;
      width: 100%;
      background-color: #f5f5f5;
    }
  }
}

/* Responsive: Portrait tablets and down */
@media screen and (max-width: 480px) {
  header{
    height: 100px !important;
    margin-bottom: 0 !important;
  }
  .navbar.navbar-default ul{
    margin: 0;
    text-align: center;
    li{
      display: inline-block;
      // margin-left: 0;
      margin: 0 13px 0 13px;
      a{
        font-size: 0.9em;
        padding: 5px;
      }
    }
  }
}
