// BACKGROUND COLOR
.navbar.navbar-default{
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  background-color: rgba(241, 196, 15, 0.9);
  border: 0px solid transparent;
}

// LINK COLOR
.navbar.navbar-default ul li a{
	color: #fff;

	&:hover{
		color: #fff;
	}
}

// LINK ACTIVE COLOR
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: rgba(243, 156, 18, 0.9);
  color: #fff;
  font-weight: bold !important;
}



