//
// ANIMATIONS
//

.fast-animated {
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.animated {
  animation-duration: 600ms;
  animation-fill-mode: both;
}


.slow-animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}


.fadeIn {
  animation-name: fadeIn;
}
.fadeOut {
  animation-name: fadeOut;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fontBump {
  0% {font-size:12px}
  25% {font-size:16px}
  50% {font-size:20px}
  75% {font-size:18px}
  100% {font-size:16px}
}
@keyframes fontBump{
  0% {font-size:12px}
  25% {font-size:16px}
  50% {font-size:20px}
  75% {font-size:18px}
  100% {font-size:16px}
}