
//
// AUTH BUTTONS
//

button.auth{
	width: 100%;
	height: 50px;
	border: none;
	margin: 0 0 24px 0;

	i{
		float: left;
		margin-left: 20px;
		font-size: 2em;
		color: #fff;
	}
	span{
		float: left;
		margin-left: 24px;
		font-size: 1.4em;
		color: #fff;
	}
}

.auth-facebook{
	background-color: #48629b;
	&:hover{
		background-color: lighten(#48629b, 10%);
	}
}
.auth-twitter{
	background-color: #20b1e6;
	&:hover{
		background-color: lighten(#20b1e6, 10%);
	}
}
.auth-email{
	background-color: #ababab;
	i, span{
		color: #4b4b4b !important;
	}
	&:hover{
		background-color: lighten(#ababab, 10%);
	}
}



//
// USER ACTION BUTTONS
//

.user-action{
  padding: 5px 10px;
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-color: $color-user-action;
  transition: 100ms;
  &:hover{
    color: #fff;
    background-color: #5FBBE7;
    box-shadow: 0 1px 22px rgba(0, 0, 0, 0.2);
    // transform: scale(1.1);
    transition: 100ms;
  }
  &:active{
    color: #fff;
    background-color: #5FBBE7;
    box-shadow: 0 1px 22px rgba(0, 0, 0, 0.2);
    // transform: scale(1.1);
    transition: 100ms;
  }
  &:focus{
    color: #fff;
    background-color: #5FBBE7;
    box-shadow: 0 1px 22px rgba(0, 0, 0, 0.2);
    // transform: scale(1.1);
    transition: 100ms;
  }
}

.product-action{
	
}

.product-do-action{
  position: relative;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: #FFF3E6;
  height: auto;
  overflow: hidden;
  padding: 15px 0;
}

.product-action{
  border-radius: 100%;
  display: inline-block;
  margin: 0 10px;
  button{
    max-width: 36px;
    max-height: 36px;
    padding: 0;
    border: 1px solid #8b8b8b;
    // margin-right: 36px;
    background-color: transparent;
    i{
      font-size: 18px;
      color: #8b8b8b;
    }
  }
}

.product-action .product-action-liked, 
.product-action .product-action-like, 
.product-action .not-liked, 
.product-action .product-action-collect{
  background-color: transparent;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  line-height: 0;
  
  &:hover{
    border-radius: 100%;
    background-color: transparent;
  }
}


.product-action .not-liked .fa{
  color: #8b8b8b;
}

.product-action .liked {
  border: 1px solid #FF5254;
  .fa{
    color: #FF5254;
  }
}


.nav-btn-action{
  margin-left: 0 !important;
}

.user-action-add-product{
  background-color: #dddddd;
  width: 32px;
  height: 32px;
  padding: 0;
  margin-top: 25px;
  i{
    font-size: 24px;
  }
  &:hover{
    background-color: #ababab;
    box-shadow: none;
  }
}


