.category-list{
  padding: 0 !important;
  margin: 0;
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  .category{
    overflow: hidden;
    background-color: #fff;
    position: relative;
    border: 1px solid #f5f5f5;
    .category-info{
      .single-category-link{
        display: block;
        position: relative;
        padding: 24px 0;
        height: 300px;
        .black-overlay{
          position: absolute;
          background: rgba(0,0,0,0.15);
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: opacity 100ms ease-out;
          z-index: 999;
        }
        .category-image{
          margin-top: 0px;
          img{
            max-height: 200px;
            width: auto;
            margin: 0 auto;
          }  
        }
        .category-name{
          h2{
            color: #000;
            font-weight: 400;
            font-size: 14px;
            width: 64%;
            margin: 24px auto
          }
        }
      }
    }
    
    transition: 100ms;

    &:hover{
      cursor: pointer;
      box-shadow: 0 0px 17px rgba(0,0,0,0.2);
      transform: scale(1.05);
      z-index: 999;
      transition: box-shadow 100ms ease-in;
      // .category-info{
      //   .single-category-link{
      //     .black-overlay{
      //       display: block;
      //       opacity: 1;
      //       transition: opacity 100ms ease-in;
      //     }
      //   }
      // }
    }
  }
}