.collections{
	margin-top: 36px;
	.collections-list{
		list-style: none;
		margin: 0;
		padding: 0;
		.single-collection-list{
			margin-bottom: 24px;

			.collection-info{
				background-color: #fff;
				padding: 16px;
				border-bottom: 1px solid #f5f5f5;
				.collection-name{
					margin:0;
					padding: 0;
					margin-top: 14px;
					a{
						color: #4b4b4b;
						font-weight: 600;
					}
				}
				.collection-image{
					margin: 0;
					img{
						height: 36px;
						width: auto;
						margin: 24px 0 14px 0;
					}
				}
				.collection-auth{
					margin: 0;
				}
			}
			.products-preview{
				list-style: none;
				margin: 0;
				padding: 24px;
				background-color: #fff;
				box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);

				.single-product-preview{
					display: inline-block;
					// margin-right: 24px;

					a{
						display: block;
						text-align: center;
						img{
							width: auto;
							max-width: 150px;
							height: 100px;
						}
					}
				}
			}
		}
	}
}