.collection-info-bar{
	background-color: #fff;
	padding: 24px 0;
	margin-top: 0;
	
	.collection-name{
		margin-top: 0;
		padding-top: 0;
		color: #4b4b4b;
		font-weight: 600;
	}

	.collection-image{
		img{
			width: 60px;
			height: auto;
			margin: 36px auto 0px auto;
		}
	}

	.collection-author{
		
	}
	
}

.products-list-collection{
	margin-top: 36px;
}


.not-products-list-collection{
	.no-products-message{
		margin: 100px 0;
	}
}