.modal{
	.modal-backdrop{
		background-color: rgba(0,0,0,1);
		position: fixed;
	}
	.modal-backdrop.in{
		opacity: 0.66;
		filter: alpha(opacity=80);
	}
	.modal-dialog{
		margin: 72px auto auto auto;
		.modal-content{
			border: 1px solid #333;
			border-radius: 0px;
			box-shadow: 0 3px 45px rgba(0, 0, 0, 0.2);
			height: 100%;
			overflow: auto;

			.modal-header{
				border: none;
				h4{
					font-weight: 300;
					font-size: 20px;
					text-align: center;
				}

				.close{

				}
			}
			.modal-body{
				padding: 0;
				min-height: 100%;
				max-height: 100%;
    		overflow-y: auto;
			}

			.modal-footer{
				border: none;
			}
		}
		.close{
			position: absolute;
			top: 5px;
			right: 18px;
			font-size: 3em;
			font-weight: 100;
		}
	}
	.modal-add-product{
		background: #fff;
		.modal-content{
			background: none;

			.modal-body{
				padding: 36px;
				.add-product-input{
					position: relative;
					width: 100%;
					padding: 15px;
					font-size: 1.3em;
					color: #000;
					background-color: #fff;
					border: 1px solid #ddd;
				}
			}
		}
	}
}

