body{
  // background-color: rgba(247, 248, 250, 1);
  background-color: #eee;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  color: #8b8b8b;
  font-family: "Raleway", sans-serif;  // RALEWAY
  // font-family: "Lato", sans-serif !important; LATO
  -webkit-overflow-scrolling: touch;
  letter-spacing: 0.1em;
}

header{
  height: auto;
  overflow: hidden;
  margin-bottom: 80px;
}

h1, h2{
  color: #000;
  font-weight: 300;
}

.navbar-brand{
  padding: 16px 15px 7px 0;
    img{
      width: auto;
      height: 45px;
    }
}

.breadcrumbs{
  margin: 24px 0 24px 0;
  ul{
    list-style: none;
    margin:0;
    padding: 0;
    height: auto;
    overflow: hidden;
    li{
      display: inline-block;
    }
  }
}

.border-left-separator{
  border-left: 1px solid #eeeeee;
}

.hello{
  background-color: #FFF0B5;
  margin-bottom: 72px;
  padding: 36px 0;

  h1{
    color: #000;
    font-size: 2em;
    margin: 0;
  }
  h2{
    color: #4b4b4b;
    font-size: 1.6em;
    margin: 0;
  }
}

.main-content{
  clear: both;
  // margin-top: 104px;
}


.page-info{
  margin-top: 36px;
  h1{
    color: #000;
    font-weight: 300;
    margin: 0;
  }
  p{
    color: #8b8b8b;
    font-weight: 300;
    margin: 14px 0 0 0;
  }
}

.load-more{
  margin-top: 72px;
  p{
    margin: 0;
  }
  a{
    background: #dddddd;
    display: block;
    padding: 24px 0;
    color: #8b8b8b;
    transition: background 75ms ease-in;
    &:hover{
      color: #fff;
      background: #40A7D8;
      transition: background 75ms ease-in;
    }
  }  
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}


// Block Grid
// Technique adapted from Foundation 5 for Bootstrap 3.
// https://github.com/zurb/foundation/blob/f755d8704123f86c281ede0b171881e2672f150d/scss/foundation/components/_block-grid.scss
// Original LESS Version by Christopher Mitchell (https://gist.github.com/ChrisTM)
// Converted to SCSS by Rasmus Jürs (https://github.com/Jursdotme)
 
[class*="block-grid-"] {
  display: block;
  margin: 0 -($grid-gutter-width/2);
  padding: 0;
  @include clearfix();
}
 
.block-grid-item {
  display: inline;
  margin: 0;
  padding: ($grid-gutter-width/2);
  height: auto;
  float: left;
  list-style: none;
}
 
@mixin block-grid ($per-row) {
  & > .block-grid-item {
    width: (100%/$per-row);
 
    $nth-equation: #{$per-row}n+'+'+1;
    &:nth-of-type(n) { clear: none; }
    &:nth-of-type(#{$nth-equation}) { clear: both; }
  }
}
 
@mixin block-grids($size) {
  .block-grid-#{$size}-1  { @include block-grid(1);  }
  .block-grid-#{$size}-2  { @include block-grid(2);  }
  .block-grid-#{$size}-3  { @include block-grid(3);  }
  .block-grid-#{$size}-4  { @include block-grid(4);  }
  .block-grid-#{$size}-5  { @include block-grid(5);  }
  .block-grid-#{$size}-6  { @include block-grid(6);  }
  .block-grid-#{$size}-7  { @include block-grid(7);  }
  .block-grid-#{$size}-8  { @include block-grid(8);  }
  .block-grid-#{$size}-9  { @include block-grid(9);  }
  .block-grid-#{$size}-10 { @include block-grid(10); }
  .block-grid-#{$size}-11 { @include block-grid(11); }
  .block-grid-#{$size}-12 { @include block-grid(12); }
}
 
@include block-grids(xs); 
@media (min-width: $screen-sm-min) { @include block-grids(sm) }
@media (min-width: $screen-md-min) { @include block-grids(md) }
@media (min-width: $screen-lg-min) { @include block-grids(lg) }


.search{
  margin-top: 65px;
  background-color: #fff;
  input{
    width: 100%;
    font-style: italic;
    border: none;
    padding: 15px 0;
    color: 000;
    &:focus{
      border-color: rgba(126, 239, 104, 0);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.00) inset, 0 0 8px rgba(126, 239, 104, 0.0);
      outline: 0 none;
    }
  }
}


.payoff{
  padding: 100px 0;
  background: #5C84D1; //#907FC7; //#70ACF2;
  margin-top: 65px;
  h1, h2{
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: #fff;
    line-height: 1.4;
    letter-spacing: 0.1em;
  }
  h2{
    margin-top: 24px;
  }
  p{
    margin-top: 24px;
    color: #ddd;
  }
}


.footer{
  background-color: #fff;
  padding: 36px;
  p{
    margin: 0;
  }

  .footer-navigation-container{
    margin: 36px auto;
    .footer-nav{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin: 5px 0;
      }
      .nav-title{
        color: #000;
        font-weight: 300;
        margin: 0 0 15px 0;
        text-transform: uppercase;
      }
    }
  }
}

/* Responsive: Portrait tablets and down */
@media screen and (max-width: 768px) {
  body{
    // background-color: #fff;
  }
}