
.product-add-thumb{
	margin: 36px 0 0 0;
	img{
		height: 130px;
		width: auto;
	}
}


.btn-show-new-collection-form{
	width: 100%;
	padding: 24px 0;
	border-radius: 0;
	border: none;
	background-color: #eee;
	text-align: center;
	color: #4b4b4b;
	font-size: 1.3em;
	margin-top: 36px;
}

.create-new-collection-form{

	margin: 0;

	form{
		height: auto;
		overflow: hidden;
		margin: 36px 0;
	}
}

.user-collections{
	list-style: none;
	margin: 0;
	padding: 0;

	li{
		display: block;
		clear:both;
		width: 100%;
	}
}

.input-collection-name{
	display: inline;
	width: 100%;
	height: 70px;
	border: 1px solid #ddd;
	border-radius: none;
	padding: 15px 24px;
	font-size: 1.3em;
}
.button-add-collection{
	display: inline;
	width: 100%;
	height: 70px;
	border: none;
	color: #fff;
	background-color: #59c2ff;
	padding: 15px 24px;
	font-size: 1.3em;
}


// COLLECTION ROW
.collection-row{
	display: block;

	.click-addto-collection{
		display: block;
		position: relative;
		width: 100%;
		// padding: 24px;
		border-bottom: 1px solid #eee;
		overflow: hidden;
		height: auto;
		font-size: 2em;
		font-weight: 300;
		color: #000;

		.collection-name{
			margin: 0;
			padding: 15px;
			height: auto;
			float: left;
			list-style: none;
			width: 360px;
		}

		.collection-name h3{	
			// line-height: 68px;		
			font-size: 18px;	
			text-decoration: none;

			.remove-item-collection{
				// display: none;
				opacity: 0;
				transition: 300ms;
				i{
					color: #E45057;
				}
			}
			.add-item-collection{
				// display: none;
				opacity: 0;
				transition: 300ms;
				i{
					color: #BDD343;
				}
			}

			.count-label{
				background-color: #f5f5f5;
				padding: 5px;
				font-size: 14px;
				color: #ababab;
				font-weight: 600;
			}
		}

		.products-in-collection{
			overflow: hidden;
			width: 100%;
			height: 90px;
			margin: 15px 0;

			.item-in-collection{
				padding:0;
			
				.overlap{
					display: block;
		      position: relative;
		      min-height: 90px;

		      .collection-item-image{
						background: transparent;
		        position: absolute;
		        top: 0;
		        left: 0;
		        right: 0;
		        bottom: 0;
		        background-repeat: no-repeat;
		        background-size: contain;
		        background-blend-mode: multiply;
		        background-position: center;
		        margin: 0px;
					}
				}
			}		
		}

		&:hover{
			text-decoration: none;
			.collection-name h3{
				text-decoration: none;
			}				
			.collection-name h3 .remove-item-collection, .collection-name h3 .add-item-collection{
				// display: inline;
				opacity: 1;
				transition: 300ms;
			}
		}
	}
	.click-addto-collection:after{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(255,255,255,0.1);
			z-index: 999;
			transition: 200ms;
	}
	.click-addto-collection:hover:after{
				background-color: rgba(0,0,0,0.03);
				transition: 200ms;
	}
}




