.user-auth{
	
	.modal-backdrop{
		
	}
	.modal-dialog{
		.modal-content{
			.modal-header{}
			.modal-body{
				// padding: 45px 0;
				min-height: 400px;

				.auth-left, .auth-right{
					width: 49%;
					min-height: 450px;
					padding: 36px;
				}

				.auth-left{
					// border-right: 1px solid #ddd;
					background-image: url("../images/modal-auth-bg.jpg");
					background-size: cover;
					h3{
						color: #fff;
						margin: 100px 0 36px 0;
					}
				}

				.auth-right{
					h3{
						margin-top: 0;
						padding-top: 0;
					}
					h5{
						margin: 36px 0 24px 0;
					}
				}

				.auth-container{
					min-height: 400px;
					clear: both;
					display: block;
					height: auto;
					overflow: hidden;
					width: 100%;
					margin: 0 auto;

					form{
						.input-group{
							width: 100%;
						}
						.form-group{
							label{
								font-weight: 200;
							}
							input{
								border-radius: 0;
							}
							input.ng-invalid{
								border-color: $red;
							}
							input.ng-untouched{
								border-color: #ddd;
							}
							input.ng-valid{
								border-color: $green;
							}
							
						}
					}
				}

			}
			.modal-footer{}
		}
	}
}