.page-navigation{
  margin: 72px auto;

  a{
    font-weight: 600;
    display: inline-block;
    padding: 15px;
    width: 40%;
    background-color: #ddd;
    color: #8b8b8b;

    &:hover{
      color: #fff;
      background-color: #59c2ff;
      text-decoration: none;
    }
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {

  .page-navigation{
    margin: 36px auto;

    a{
      font-weight: 600;
      display: inline-block;
      padding: 15px;
      width: 100%;
      background-color: #ddd;
      color: #8b8b8b;
      &:hover{
        color: #fff;
        background-color: #59c2ff;
        text-decoration: none;
      }
    }
  }

}