$color-price: 		#9ADAAE !default;
$amazon-related: 	#FFC107 !default; 
$color-user-action: 		#6EBAE7 !default; // #54BAE2
$green: 					#BDD343 !default;
$red: 						#E45057;
$main-elem-bg:		#ffffff !default;
$color-link:			#545454 !default;
$color-headings:	#1b1b1b !default;
