.products-list{
  margin-top: 72px;
}

.product-list{
  .product{
    overflow: hidden;
    background-color: #fff;
    // box-shadow: 0 0px 7px rgba(0,0,0,0.07);
    box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
    // border: 1px solid #ddd;
    position: relative;
    max-width: 350px;
    margin: 0 auto 24px auto;

    .product-info{
      position: relative;

      .user-action-on-preview{
          position: absolute;
          top: 10px;
          left: 24px;
          z-index: 1000;
          opacity: 0;
          list-style: none;
          margin: 0;
          padding: 0;
          li{
            display: inline-block;
            margin: 0 10px 0 0;
          }
          .like-product-on-preview{
            background: transparent;
            border: none;
            color: #9b9b9b;
            font-size: 24px;
            width: auto;
            padding: 0;
            &:hover{
              color: #000;
            }
          }
          .add-product-on-preview{
            background: transparent;
            border: none;
            color: #9b9b9b;
            font-size: 24px;
            width: auto;
            padding: 0;
            &:hover{
              color: #000;
            }
          }
        }

        .product-price{
          position: absolute;
          background: #6DDFB8;
          top: 0px;
          right: 0px;
          color: #fff;
          padding: 10px 20px;
          font-size: 18px;
          font-weight: 600;
          z-index: 1000;
        }

      .single-product-link{
        display: block;
        position: relative;
        padding: 24px 0;
        height: 330px;

        .black-overlay{
          position: absolute;
          background: rgba(0,0,0,0.15);
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: opacity 100ms ease-out;
          z-index: 999;
        }
        .product-image{
          // margin-top: 36px;
          img{
            max-height: 200px;
            width: auto;
            margin: 24px auto;
          }  
        }

        .product-name{
          h2{
            color: #cccccc;
            font-weight: 300;
            font-size: 14px;
            width: 80%;
            margin: 24px auto
          }
        }
      }
    }
    .people-likes{
      // background: #f5f5f5;
      // background: #f8f3f0;
      background: #FFF3E6;
      border-top: 1px solid #eeeeee;
      width: 100%;
      bottom:0;
      height: 46px;
      .show-people{
        margin:0;
        padding:0;
        list-style: none;
        height: auto;
        overflow: hidden;
        width: 100%;
        li{
          display: inline-block;
          img{
            // border-radius: 100%;
            height:45px;
            width: auto;
          }
        }
        li.total-likes-count{
          float: right;
          button{
            color: #8b8b8b;
            border: none;
            background-color: transparent;
            line-height: 40px;
            padding: 0 15px;
          }
          
        }
      }
      .more-likes{
        a{
          display:block;
          max-height: 45px;
          width: 45px;
          i{
            margin-top: 13px;
            font-size: 1.4em;
            color: #ababab;
          }
        }
      }
    }

    &:hover{
      cursor: pointer;
      box-shadow: 0 0px 17px rgba(0,0,0,0.1);
      transition: box-shadow 150ms ease-in;
      .product-info{
        .user-action-on-preview{
          opacity: 1;
          transition: opacity 350ms ease-in;
        }
        .single-product-link{
          text-decoration: none;
          .black-overlay{
            display: block;
            opacity: 1;
            transition: opacity 250ms ease-in;
          }
          .product-name h2{
            text-underline-position: 0;
            color: #000;
          }
        }
      }
    }
  }
}