.product-v2{
	position: relative;
	background-color: #fff;
	box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  position: relative;
  max-width: 350px;
  min-height: 410px;
  // padding: 24px 0 0 0 ;
  margin: 0 auto 24px auto;
  text-decoration: none;

	
	.product-info{
		position: relative;
		width: 100%;
		height: auto;
		overflow: hidden;
	}

  .black-overlay{
    position: absolute;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 46px;
    transition: opacity 100ms ease-out;
    z-index: 999;
  }


	.product-price{
		position: absolute;
		left: 15px;
		top: 15px;
	  font-size: 14px;
	  font-weight: 400;
	  z-index: 99;
	  text-align: left;
	  color: #8b8b8b;
	  background-color: #f5f5f5;
	  padding: 5px;
	  color: #ababab;
	}


	.user-action-on-preview{
		position: absolute;
		width: auto;
    top: 15px;
    right: 15px;
    z-index: 1000;

	  list-style: none;
	  
	  margin: 0;
	  padding: 0;
	  text-align: center;
	  opacity: 0;
	  
	  li{
	    display: inline-block;
	    button{
	    	width: 30px;
	    	height: 30px;
	    	i{
	    		font-size: 16px;
	    	}
	    }
	  }
	}


	.product-name{
		display: block;
		height: auto;
		overflow: hidden;
		text-decoration: none;
		margin-top: 70px;
		display: block;
		float: left;
		width: 100%;

	  h2{
	    color: #9b9b9b;
	    font-weight: 300;
	    font-size: 14px;
	    width: 80%;
	    text-align: center;
	    margin: 0 auto;
	    text-decoration: none;
	  }

	}



	.product-image{
	  // margin-top: 36px;
	  position: absolute;
	  bottom: 85px;
	  left: 50%;
	  margin-left: -100px;
	  img{
	    max-height: 200px;
	    width: auto;
	    // margin: 24px auto;
	  }  
	}



	.people-likes{
	  position: absolute;
	  bottom: 0;
	  background: #FFF3E6;
	  border-top: 1px solid #eeeeee;
	  width: 100%;
	  height: 46px;
	  overflow: hidden;
	  .show-people{
	    margin:0;
	    padding:0;
	    list-style: none;
	    height: auto;
	    overflow: hidden;
	    width: 100%;
	    li{
	      display: inline-block;
	      img{
	        // border-radius: 100%;
	        height:45px;
	        width: auto;
	      }
	    }
	    li.total-likes-count{
	      float: right;
	      button{
	        color: #8b8b8b;
	        border: none;
	        background-color: transparent;
	        line-height: 40px;
	        padding: 0 15px;
	      }
	      
	    }
	  }
	  .more-likes{
	    a{
	      display:block;
	      max-height: 45px;
	      width: 45px;
	      i{
	        margin-top: 13px;
	        font-size: 1.4em;
	        color: #ababab;
	      }
	    }
	  }
	}





  &:hover{
		cursor: pointer;
    box-shadow: 0 0px 17px rgba(0,0,0,0.1);
    transition: box-shadow 150ms ease-in;
    .user-action-on-preview{
      opacity: 1;
      transition: opacity 350ms ease-in;
    }
    .single-product-link{
      text-decoration: none;
      .black-overlay{
        display: block;
        opacity: 1;
        transition: opacity 250ms ease-in;
      }
      .product-name h2{
        text-underline-position: 0;
        color: #000;
      }
    } 
  }



}





