.search-form{
	margin: 0;
	width: 100%;
	min-width: 300px;
	min-height: 45px;
	
	input{
		// width: 100%;
		width: 300px;
		height: 40px;
		padding: 10px;
		color: #000;
		font-weight: 300;
		border: 1px solid #ddd;
		margin-top: 20px;
		display: inline-block;
		border-right: 0;
	}
	.search-submit{
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;
		border: 1px solid #ddd;
		background-color: #ffffff;
		top: -1px;
		border-left: 0;
		.fa-search{
			display: inline;
			width: 40px;
			height: 40px;
		}
	}
}