
.product-single-page{
  background: #fff;
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  margin: 0 0 72px 0;
  overflow: hidden;

  .product-info{
    position: relative;
    margin: 0;
    .product-image{   
      // min-height: 625px;
      min-height: 570px;
      position: relative;
      overflow: hidden;
      .product-image-container{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 12%;
        // width: 100%;
        // height: 100%;
        transition: margin 200ms, background-size 200ms;
        &:hover{
          // margin: 0;
          // background-size: 100%;
          // transition: margin 200ms;
          // transform: scale(1.1, 1.1);
          // -moz-transition: all 200ms ease-out;
          // -ms-transition: all 200ms ease-out;
          // -o-transition: all 200ms ease-out;
          // -webkit-transition: all 200ms ease-out;
        }
      }
      img{
        height: 350px;
        width: auto;
        margin: 72px auto;
      }
    }
    .product-expanded-info{
      margin: 72px 0 24px 0;
      padding-right: 36px;
      position: relative;
      .product-name{
        font-weight: 300;
        margin: 0;
      }
      .product-description{
        font-weight: 300;
        color: #8b8b8b;
        font-size: 14px;
        margin: 15px 0 0 0;
      }
      .product-outgoing-link{
        margin: 54px 0;
        padding: 18px 24px;
        border: none;
        border-radius: 0;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
        background-color: #FFB300;
        transition: 200ms;
        &:hover{
          background-color: #FFC107;
          box-shadow: 0 3px 45px rgba(0, 0, 0, 0.2);
          transform: scale(1.1);
          transition: 200ms;
        }
      }
      .product-discoverer{
        margin-top: 0px;
      }
      .product-likes{
        .product-last-like{
          list-style: none;
          margin: 0;
          padding: 0;
          li{
            display: inline-block; 
            margin-right: 4px;
            img{
              width: 36px;
              height: auto;
              // border-radius: 100%;
            }
            &:first-child{
              margin-left: 0;
            }
          }
        }
        .product-likes-list{
          list-style: none;
          margin: 24px 0 0;
          padding: 0;
          li{
            display: inline-block; 
            margin-right: 4px;
            img{
              width: 45px;
              height: auto;
              // border-radius: 100%;
            }
            &:first-child{
              margin-left: 0;
            }
          }
        }
      }
      .product-sharable{
        width: 100%;
        // border-top: 1px solid #eee;
        // position: absolute;
        bottom: 0;
        margin-top: 24px;
        padding-top: 0;
        .product-share{
          margin: 0;
          padding: 0;
          // text-align: center;
          list-style: none;
          li{
            display: inline-block;
            a{
              display: block;
              font-size: 16px;
              color: #8b8b8b;
              padding: 10px 15px;
              transition: 100ms;
              &:hover{
                background-color: #f5f5f5;
                color: #000;
                transition: 100ms;
              }
            }
          }
        }
      }
    }
  }

  .editor-review{
    background-color: #3b3b3b;
    padding: 36px 0;

    h2{
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #9b9b9b;
      margin: 0;
    }
    p{
      margin: 15px 0 0 0;
      font-weight: 100;
      font-size: 18px;
      color: #fff;
      letter-spacing: 0.1em;
      line-height: 1.6;
      font-style: italic;

      span{
        font-size: 30px;
        font-weight: 200;
        font-style: italic;
      }
    }
  }

  .related-products{
    background-color: #f4f4f4;

    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    ul{
      margin: 0;
      padding: 0;
      clear: both;
      overflow: hidden;

      .area-description{
        // height: 250px;
        h3{
          color: #4b4b4b;
          text-transform: uppercase;
          font-size: 1em;
          color: #4b4b4b;
          padding: 36px;
          a{
            font-weight: 600;
          }
        }
      }

      .related-item{
        margin: 0;
        padding: 0;
        a{
          display: block;
          position: relative;
          // padding: 18px 0;
          min-height: 195px;
          .black-overlay{
            position: absolute;
            background: rgba(0,0,0,0.15);
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: opacity 100ms ease-out;
            z-index: 999;
          }
          .img-related{
            background: #f4f4f4 url(http://s3-eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-11107942…/000/000/021/small/lg-tone-cuffie-stereo-con-bluetooth-nero.png?1423917827);

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-repeat: no-repeat;
            background-size: contain;
            background-blend-mode: multiply;
            background-position: center;

            margin: 36px;

          }
          // img{
          //   height: 150px;
          //   width: auto;
          //   margin: 0 auto;
          //   // opacity: 0.1;
          // }

          p{
            margin: 10px 0 0 0;
            color: #000;
          }

          &:hover{
            text-decoration: none;

            .black-overlay{
              display: block;
              opacity: 1;
              transition: opacity 100ms ease-in;
            }
          }
        }
      }
    }
  }

  .sub-section-title{
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;

  }

  .product-comment{
    margin: 36px 0 0 0;
    position: relative;
    padding-bottom: 72px;

    .sub-section-title{
      font-size: 1.3em;
      margin-bottom: 36px;
    }

    .sub-col-comment-form{
      padding: 0;

      .user-signedin-avatar-comment{
        height: 50px;
        width: auto;
      }

      form{
        input{
          width: 100%;
          height: 50px;
          display: block;
          padding: 15px;
          border: 1px solid #ddd;
          border-radius: 0px;
        }
        .user-action{
          margin-top: 24px;
          padding: 15px 20px;
          font-weight: 500;
        }
      }
    }
  }

  .product-comments{
    margin: 36px 0 0 0;
    position: relative;
    padding-bottom: 24px;

    .sub-section-title{
      font-size: 1.3em;
      margin-bottom: 36px;
    }


    .comments-list{
      list-style: none;
      margin: 0;
      padding: 0;

      .single-comment{
        margin-bottom: 36px;
        .commented-by{
          .user-image{
            margin-right: 24px;
            a{
              display: block;
              img{
                width: 50px;
                height: auto;
              }
            }
          }
          .user-info{
            .nickname{
              font-size: 1.2em;
              font-weight: 400;
            }
            .meta-tags{
              font-size: 0.8em;
              color: #8b8b8b;
            }
          }
        }
        .comment-text{
          margin-top: 16px;
          font-size: 1.3em;
          color: #4b4b4b;
        }
      }
    }
  }
}




/* Responsive: Portrait tablet and down */
@media screen and (max-width: 768px) {
  .product-single-page{
    margin-top: 0;
      .product-info{
        // margin-top: -20px;

        .product-image{
          min-height: 500px;
          height: 500px;
          
          .product-image-container{
            margin: 3%;
          }
        }
        .product-expanded-info{
          margin-top: 15px;
          padding-right: 0;
          .product-name{
            width: 100%;
            font-size: 2em;
            text-align: center;
          }
          .product-outgoing-link{
            margin-top: 36px;
            width: 100%;
            padding: 20px;
            font-size: 1.5em;
          }
        }
      }
    }  
}

/* Responsive: Portrait PHONES and down */
@media screen and (max-width: 480px) {

  .page-product{
    background-color: #fff !important;
  }
  .product-single-page{
    margin-top: 36px;
      .product-info{
        .product-image{
          min-height: 250px;
          height: 250px;
          
          .product-image-container{
            margin: 3%;
          }
        }
        .product-expanded-info{
          margin-top: 15px;
          padding-right: 0;
          padding-left: 0;
          .product-name{
            width: 100%;
            font-size: 1em;
            text-align: center;
          }
          .product-outgoing-link{
            margin: 36px 0 0 0;
            font-size: 1em;
          }
        }
      }
    }  
}
