.user-info-bar{
	background-color: #fff;
	padding: 24px 0;
	margin-top: 0;
}

.single-user{
	.col-md-6:first-child{
		padding-left: 0;
	}
	img.user_avatar{
		width: 65px;
		height: 65px; 
	}
	.user-name{
		// text-align: center;
		color: #000;
		font-weight: bold;
		font-size: 1.3em;
		margin-left: 36px;
	}
	.user-at{
		// text-align: center;
		color: #8b8b8b;
		font-weight: 200;
		font-size: 1em;
		margin-left: 36px;
	}

	.user-followers{
		list-style: none;
		margin: 0;
		padding: 0;
		margin-top: 16px;
		li{
			display: inline-block;
			margin: 0 5px;
			a{
				img{
					width: 36px;
				}
			}
			&:first-child{
				border-right: 1px solid #8b8b8b;
				padding-right: 15px;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}

.follow-user{
	
}

.filter-user-tab{
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 36px 0;
	li{
		display: inline-block;
		margin: 0 24px;
		a{
			color: #8b8b8b;
			display: block;
			font-weight: 300;
		}
		.active{
			color: #000;
			font-weight: 600;
		}
	}
}