$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../bower_components/components-font-awesome/scss/font-awesome.scss";

// MAIN G FONT

//  LATO
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

//  RALEWAY
@import url("http://fonts.googleapis.com/css?family=Raleway:200,600,700,300");


// Importing different colors for the navigation
 @import "header/nav-default";
// @import "header/nav-dark-blue";
//@import "nav-light-blue";
//@import "nav-pink-red";
//@import "nav-yellow";
//@import "nav-red";

@import "palette";
@import "product-list";
@import "single-product-page";
@import "category-list";
@import "custom-modals";
@import "user-modal-actions";
@import "modal-auth";
@import "page-navigation";
@import "single-user";
@import "collections-list";
@import "collection-single";
@import "buttons-element";
@import "modal-addtocollections";
@import "animations";
@import "feed";
@import "layout";
@import "search-box";
@import "product-card";
