<!-- Modal Add product -->
<div class="modal fade" id="modal-add-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-add-product">
    <div class="modal-content" style="background:#f5f5f5">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Aggiungi il prodotto a nomesito</h4>
      </div>
      <div class="modal-body">
				
        <form ng-submit="addProduct(producturl)" role="form" ng-init="producturl = ''" ng-hide="productAddedSuccess">
          <input required="required" type="url" ng-model="producturl" placeholder="Inserisci il link da amazon, es: http://amazon.it/nome-prodotto" class="add-product-input" ng-paste="addProductPasted($event)" ng-click="producturl = '';  productAddedHasError = false">
          <!-- <button type="submit" class="user-action" ng-hide="previewAddedProduct">Aggiungi il prodotto</button> -->
        </form>

        <div class="loading" ng-if="isLoading" style="margin-top: 36px;">
          <p class="text-center">
            <img src="/images/preloader.gif" alt="">
          </p>
        </div>
        
        <div class="animated fadeIn product-found" ng-if="productAddedSuccess">
          <h3 class="text-center">Hai trovato un prodotto!</h3>
          <p class="text-center">Puoi subito aggiungerlo ai preferiti o ad una collezione, oppure clicca su di esso per andare alla scheda prodotto.</p>
          <div class="row" style="margin-top: 36px;">
            <div class="block-grid-lg-1 block-grid-md-1 block-grid-sm-1 block-grid-xs-1">
              <div class="block-grid-item product-list"  itemtype="http://schema.org/ItemList"> 
                  <!-- PRODUCT STARTS -->
                    <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
                      <!-- PRODUCT INFO STARTS -->
                      <div class="product-info">
                        <ul class="user-action-on-preview">
                          <li>
                            <button class="like-product-on-preview"><i class="fa fa-heart"></i></button>
                          </li>
                          <li>
                            <button class="add-product-on-preview"><i class="fa fa-plus"></i></button>
                          </li>
                        </ul>
                        <div class="product-price">€ <span itemprop="price">{{previewAddedProduct.price | currency:"":0}}</span></div>

                        <a ui-sref="product({product_slug: previewAddedProduct.slug})" class="single-product-link" target="_self" itemprop="url">
                          <div class="black-overlay"></div>
                          <div class="product-image">
                            <img ng-src="{{previewAddedProduct.image_url}}" alt="{{previewAddedProduct.name}}" class="img-responsive" itemprop="image">
                          </div>
                          <div class="product-name">
                            <h2 class="text-center" itemprop="name">{{previewAddedProduct.name | limitTo : 50 }}</h2>
                          </div>
                        </a>
                      </div>
                      <!-- PRODUCT INFO ENDS-->
                      <div product-list-likes></div>
                    </div>
                    <!-- PRODUCT ENDS --> 
              </div>
            </div>
          </div> 
        </div>


        <div class="animated fadeIn product-added-error" ng-if="productAddedHasError">
          <h3 class="text-center alert alert-danger" style="margin-top: 36px;">{{productError}}</h3>
        </div>
      
      </div>
    </div>
  </div>
</div>
