<!-- VISUALIZZA BUTTON DI DEFAULT -->

<li ng-class="{active: $state.is('homepage')}"><a ui-sref="homepage" ng-click="$state.go('homepage')" target="_self">Esplora</a></li>
<li ng-class="{active: $state.is('categories')}"><a ui-sref="categories" ng-click="$state.go('categories')"  target="_self">Categorie</a></li>
<li ng-class="{active: $state.is('brands')}"><a ui-sref="brands" ng-click="$state.go('brands')"  target="_self">Marche</a></li>

<!-- 

	SE UTENTE NON E' LOGGATO 

-->
<li ng-if="!user.signedIn" class="border-left-separator hidden-xs" >
	<a href="#!" data-target="#singup-login" data-toggle="modal" ng-click="openModal('signin')">Accedi</a>
</li>

<!-- 

	SE UTENTE E' LOGGATO 

-->
<li ng-if="user.signedIn" class="user_avatar border-left-separator visible-lg">
	<a id="userSubMenu" data-target="#" data-toggle="dropdown" role="button" aria-expanded="false"> 
		<span class="content-profile">
			<img ng-src="{{user.small_avatar}}" style="height: 35px;"> <i class="caret"></i>
		</span>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="userSubMenu">
		<li>
			<a ui-sref="user({user_slug: user.slug})">Vedi mio profilo</a>
		</li>
		<li>
			<a data-toggle="modal" data-target="#modal-edit-profile" ng-click="openModal('editprofile')">Modifica profilo</a>
		</li>
		<li>
			<a ui-sref="homepage" ng-click='signOut();'>Esci</a>
		</li>
	</ul>
</li>

<li class="nav-btn-action hidden-xs">
	<!-- AGGIUNGI PRODOTTO -->
	<button ng-if="user.signedIn" type="button" class="user-action user-action-add-product btn btn-default navbar-btn" data-toggle="modal" data-target="#modal-add-product" ng-click="openModal('addproduct')">
	<i class="fa fa-plus-circle"></i>
	</button>

	<!-- REGISTRATI -->
	<button ng-if="!user.signedIn" type="button" class="user-action btn btn-default navbar-btn" data-toggle="modal" data-target="#singup-modal" ng-click="openModal('signup')">
	Registrati
	</button>
</li>