<button id="like-product-btn" class="product-action-like btn btn-default" ng-class="{liked: product.liked_by_user, 'not-liked': !product.liked_by_user}" ng-click="user.signedIn ? likeProduct(product.slug) : openModal('signin');" data-target="#singup-login" data-toggle="modal">
	<i class="fa fa-heart"></i>
</button>