<!-- Modal edit profile -->
<div class="modal fade" id="modal-edit-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal('editprofile')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modifica Profilo</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-8 col-md-push-2">


            <p class="text-center" ng-if="!editingProfile">
                <img ng-src="{{user.large_avatar}}" title="" width="200" height="200">
            </p>
    				

						<div class="loading" ng-if="editingProfile" style="margin-top: 36px;">
		          <p class="text-center">
		            <img src="/images/preloader.gif" alt="">
		          </p>
		        </div>

    				<div class="button" ng-file-select ng-file-change="upload($files)">
    					<p class="text-center">Clicca per caricare un' altra immagine</p>
    				</div>
    

            <form ng-submit="updateAccount(updateAccountForm); updateProfile()" role="form" class="form-group" ng-init="updateAccountForm = {name: user.name, email: user.email, bio: user.bio, link: user.link}" enctype="multipart/form-data">

                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="text" ng-model="updateAccountForm.name" class="form-control"  value="{{user.name}}" >
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="text" ng-model="updateAccountForm.email" class="form-control" value="{{user.email}}">
                </div>
                
                <div class="form-group" ng-if="user.provider == 'email'">
                  <label>Password</label>
                  <input type="password" name="text" ng-model="updateAccountForm.password" class="form-control">
                </div>

                <div class="form-group">
                  <label>Bio</label>
                  <textarea ng-model="updateAccountForm.bio" class="form-control" rows="3">
                    {{user.bio}}
                  </textarea>
                </div>

                <div class="form-group">
                  <label>Link</label>
                  <input type="url" name="link" ng-model="updateAccountForm.link" class="form-control" value="{{user.link}}">
                </div>

                <button class="btn btn-default user-action" type="submit" ng-click="updateProfile()">
                  Aggiorna account <img src="/images/preloader.gif" alt="" ng-if="updatingProfile">
                </button>

                <p ng-if="profileUpdated" class="alert alert-success slow-animated fadeOut" style="margin-top: 36px;">
                  Profilo aggiornato!
                </p>
            </form>

          </div>
        </div>

        <div class="animated fadeIn product-added-error" ng-if="productAddedHasError">
          <h3 class="text-center alert alert-danger" style="margin-top: 36px;">{{productError}}</h3>
        </div>
      
      </div>
    </div>
  </div>
</div>