<!-- SIGNUP -->
<div class="modal fade user-auth" id="singup-modal" tabindex="-1" role="dialog" aria-labelledby="show Auth" aria-hidden="true">
  
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
				<div class="auth-container">

					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal('signin')">
	          <span aria-hidden="true">&times;</span>
	        </button>
        
					<div class="auth-form auth-left pull-left" ng-if="!authLoading">
						
						<h3>Accedi con un profilo social</h3>

						<button class="auth auth-facebook" ng-click="authenticate('facebook'); loadAuth();">
						  <i class="fa fa-facebook"></i> <span>Accedi con Facebook</span>
						</button>

						<button class="auth auth-twitter" ng-click="authenticate('twitter'); loadAuth();">
						  <i class="fa fa-twitter"></i> <span>Accedi con Twitter</span>
						</button>
					</div>

					<div class="auth-form auth-right pull-right">
						<h3>Registrati, per un mondo migliore.</h3>
						<br />
						<form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
						  <div class="form-group">
						    <label>email</label>
						    <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
						  </div>

						  <div class="form-group">
						    <label>password</label>
						    <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
						  </div>
						  <div class="form-group">
						    <label>Conferma password</label>
						    <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
						  </div>
						  <button type="submit" class="btn btn-primary btn-lg user-action">Registrati</button>
						</form>
					</div> 

				</div>
      </div>
    </div>
  </div>
</div>