<!-- LOGIN -->
<div  ng-if="!user.signedIn" class="modal fade user-auth" id="singup-login" tabindex="-1" role="dialog" aria-labelledby="show Auth" aria-hidden="true">
  
  <div class="modal-dialog modal-auth modal-lg">
    <div class="modal-content">
      <div class="modal-body">
				<div class="auth-container">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal('signin')">
          	<span aria-hidden="true">&times;</span>
        	</button>

					<div class="auth-form auth-left pull-left" ng-if="!authLoading">
						
						<h3>Accedi con un profilo social</h3>

						<button class="auth auth-facebook" ng-click="authenticate('facebook'); ">
						  <i class="fa fa-facebook"></i> <span>Accedi con Facebook</span>
						</button>

						<button class="auth auth-twitter" ng-click="authenticate('twitter'); ">
						  <i class="fa fa-twitter"></i> <span>Accedi con Twitter</span>
						</button>
					</div>

					<div class="auth-form auth-right pull-right" ng-if="!authLoading">
						<h3>Bentornato! <br /> Sono successe molte cose dalla tua ultima visita.</h3>
						<h5>Accedi con la tua email</h5>
						<form  ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}; isEmailAuth = false">
  					 	<div class="input-group form-group">
						    <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control" placeholder="email" />
						    <p class="error" ng-if="emailLoginHasError">Inserisci una email valida</p>
						  </div>
						  <div class="input-group form-group">
						    <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control" placeholder="password"/>
						  </div>
					  	<button type="submit" class="btn btn-primary btn-lg user-action">Effettua accesso</button>
						</form>
						<div class="loginError" class="animated fadeIn" ng-if="loginError" ng-bind="loginError"></div>
						<br>
						<p><a ui-sref="forgotPassword" ng-click="closeModal('signin')">Non ricordo la mia password</a></p>
						<p><a ui-sref="forgotPassword" ng-click="closeModal('signin'); openModal('signup')" data-toggle="modal" data-target="#singup-modal">Volevi registrarti?</a></p>
					</div>

					<div class="loading" ng-if="authLoading && !user.signedIn" style="margin-top: 36px;">
	          <p class="text-center">
	            <img src="/images/preloader.gif" alt="">
	          </p>
	          <p class="text-center">
	            <h3 class="text-center">Stai effettuando l'accesso</h3>
	          </p>
	        </div>
				</div>
      </div>
    </div>
  </div>
</div>