<!-- Modal Collections list -->
<div class="modal fade" id="collectionList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3 class="text-center" id="myModalLabel">Aggiungilo ad una collezione</h3>

        <p class="product-add-thumb text-center">
          <img class="add-to-collection-thumb" ng-src="{{inCollectionProduct.image_url}}" alt="{{inCollectionProduct.name}}">
        </p>

      </div>

      <div class="modal-body">
        
        <div class="row create-new-collection-form">
          <button ng-if="!openModalNewCollection" ng-click="newCollectionForm()" class="btn btn-show-new-collection-form">
            in una nuova collezione
          </button>

          <form ng-if="openModalNewCollection" ng-submit="createCollection(collectionName); collectionName = ''" role="form" ng-init="collectionName = ''" ng-hide="productAddedSuccess">
            <div class="col-md-10 col-md-push-1">
              <div class="col-md-8">
                <input required="required" type="text" ng-model="collectionName" placeholder="Nuova collezione? Scrivi qui il nome" class="input-collection-name" autofocus>
              </div>
              <div class="col-md-2">
                <button type="submit" class="button-add-collection" ng-hide="previewAddedProduct">Crea</button>
              </div>
              <div class="col-md-2">
                <button ng-click="closeNewCollectionForm()" class="button-add-collection" ng-hide="previewAddedProduct">&times;</button>
              </div>
            </div>            
          </form>
        </div>

        <ul class="user-collections">

          <li ng-repeat="collection in CollezioniUtente"  class="collection-row">
            
            <a href="" ng-click="toggleInCollection($index, inCollectionProduct.slug, collection.slug, inCollectionProduct.image_url)" class="click-addto-collection">
                        
              <ul class="products-in-collection block-grid-lg-7 block-grid-md-7 block-grid-sm-0 block-grid-xs-0">
                <li class="collection-name">
                  <h3><span class="remove-item-collection" ng-if="collection.product_in_collection"><i class="fa fa-minus-circle"></i> </span> <span class="add-item-collection" ng-if="!collection.product_in_collection"><i class="fa fa-plus-circle"></i> </span>{{collection.name}} <span class="count-label" ng-bind="collection.products_count? collection.products_count : 0"></span></h3>
                </li>  
                <li class="item-in-collection block-grid-item animated fadeIn" ng-repeat="productCat in collection.products | limitTo: 5">
                  <div class="overlap">
                    <div class="collection-item-image" style="background-image:url({{productCat.image_url}})"></div>
                  </div>
                </li>
              </ul>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>