<!-- PRODUCT STARTS -->
<div class="product-v2" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">


  <!-- PRODUCT INFO STARTS -->
  <!-- <div class="product-info"> -->

    <ul class="user-action-on-preview">
      <li class="product-action" like-product></li>
      <li class="product-action">
        <!-- Button trigger modal -->
        <button  class="product-action-collect btn btn-default" data-target="#collectionList, #singup-login" ng-click="user.signedIn? openModal('addtocollections', product.slug) : openModal('signin')" ng-class="add_to_collection" data-toggle="modal">
          <i class="fa fa-plus"></i>
        </button>
      </li>
      <li class="product-action" remove-from-collection ng-if="user.signedIn && user.slug == Collection.user_slug"></li>
    </ul>

    <!-- PRODUCT LINK STARTS -->
    <a ui-sref="product({product_slug: product.slug})" class="single-product-link" itemprop="url" target="_self">
      
      <div class="black-overlay"></div>

      <div class="product-price">
        € <span itemprop="price">{{product.price | currency:"":0}}</span>
      </div>

      <div class="product-name">
        <h2 class="text-center" itemprop="name">{{product.name | limitTo : 50 }}</h2>
      </div>

      <div class="product-image">
        <img ng-src="{{product.image_url}}" alt="{{product.name}}" class="img-responsive" itemprop="image">
      </div>

    </a> <!-- PRODUCT LINK ENDS -->

  <!-- </div> --> <!-- PRODUCT INFO ENDS-->


  <div product-list-likes></div>


</div> <!-- PRODUCT ENDS -->