<!-- PRODUCT LIKES STARTS -->
<div class="people-likes">
  <ul class="show-people pull-left">
    <li ng-repeat="like in product.likes | limitTo:5" class="animated fadeIn">
      <a ui-sref="user({user_slug: like.nickname})" title="Profilo personale di {{like.nickname}}">
      	<img ng-src="{{like.small_avatar}}" alt="Profilo personale di {{like.nickname}}" data-toggle="tooltip" data-placement="top">
      </a>
    </li>
    <li ng-if="product.likes_count > 0" class="total-likes-count">
      <button>
        <i class="fa fa-heart"></i> {{product.likes_count}}
      </button>
    </li>
  </ul>

</div>
<!-- PRODUCT LIKES ENDS -->