

<button ng-if="user.signedIn" id="like-product-btn" class="product-action-like btn btn-default" ng-click="removeProductFromCollection(product.id, Collection.slug, $index)" >
	<i class="fa fa-minus-circle"></i>
</button>

<button ng-if="!user.signedIn" id="like-product-btn" class="product-action-like btn btn-default">
	<i class="fa fa-minus-circle"></i>
</button>