<!doctype html>
<html class="no-js" ng-app="theamazonesApp" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="fragment" content="!">
    
    <title data-ng-bind="page.title"></title>

    <meta name="description" content="{{ page.metaDesc }}">
    
    <!-- Facebook OGP -->
    <meta property="og:title" content="{{ page.ogTitle }}" />
    <meta property="og:description" content="{{ page.ogDescription }}" />
    <meta property="og:type" content="{{ page.ogType }}" />
    <meta property="og:url" content="{{ page.ogUrl }}" />
    <meta property="og:image" content="{{ page.ogImage }}" />

    <!-- Twitter Cards -->
    <meta ng-if="bodyClass === 'product'" name="twitter:card" content="product">
    <meta ng-if="bodyClass === 'product'" name="twitter:site" content="@theamazoness">
    <meta ng-if="bodyClass === 'product'" name="twitter:creator" content="@theamazoness">
    <meta ng-if="bodyClass === 'product'" name="twitter:domain" content="www.iltrend.com">
    <meta ng-if="bodyClass === 'product'" name="twitter:title" content="{{ page.title }}">
    <meta ng-if="bodyClass === 'product'" name="twitter:image" content="{{ page.ogImage }}">
    <meta ng-if="bodyClass === 'product'" name="twitter:label1" content="Marca">    
    <meta ng-if="bodyClass === 'product'" name="twitter:data1" content="{{ page.ogTitle }}">
    <meta ng-if="bodyClass === 'product'" name="twitter:label2" content="Categoria">
    <meta ng-if="bodyClass === 'product'" name="twitter:data2" content="{{  page.ogTitle }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-cloak class="page-{{bodyClass}}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- MODAL TRIGGERS GOES HERE -->
        <div ng-if="isModalSignIn" modal-sign-in></div>
        <div ng-if="isModalSignUp" modal-sign-up></div>
        <div ng-if="isModalEditProfile" modal-edit-profile></div>
        <div ng-if="isModalCollections" modal-collections></div>
        <div ng-if="isModalAddProduct" modal-add-product></div>
    <!-- END MODALS TRIGGERS -->

    <!-- Add your site or application content here -->
    <header ng-include="'views/header.html'" scope="" onload=""></header>


    <!-- <div class="search" ng-include="'views/search.html'"></div> -->

    <div class="main-content" ui-view></div>

    <footer ng-include="'views/footer.html'" class="footer"></footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59989097-1', 'auto');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
    <script src="bower_components/angularjs-toaster/toaster.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
    <script src="bower_components/waypoints/waypoints.js"></script>
    <script src="bower_components/SHA-1/sha1.js"></script>
    <script src="bower_components/angulartics/src/angulartics.js"></script>
    <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/theenvironment.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/homepage.js"></script>
        <script src="scripts/controllers/product.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/category.js"></script>
        <script src="scripts/controllers/collection.js"></script>
        <script src="scripts/controllers/categories.js"></script>
        <script src="scripts/controllers/collections.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/services/products.js"></script>
        <script src="scripts/services/collections.js"></script>
        <script src="scripts/services/product.js"></script>
        <script src="scripts/services/categories.js"></script>
        <script src="scripts/services/category.js"></script>
        <script src="scripts/directives/addtocollection.js"></script>
        <script src="scripts/controllers/modaladdtocollection.js"></script>
        <script src="scripts/directives/productsinglepreview.js"></script>
        <script src="scripts/directives/productlistlikes.js"></script>
        <script src="scripts/controllers/brands.js"></script>
        <script src="scripts/controllers/brand.js"></script>
        <script src="scripts/directives/headerusersignin.js"></script>
        <script src="scripts/directives/addproductlink.js"></script>
        <script src="scripts/directives/likeproduct.js"></script>
        <script src="scripts/services/vote.js"></script>
        <script src="scripts/services/addproduct.js"></script>
        <script src="scripts/services/brands.js"></script>
        <script src="scripts/services/brand.js"></script>
        <script src="scripts/services/collection.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/comment.js"></script>
        <script src="scripts/services/feed.js"></script>
        <script src="scripts/services/usercollections.js"></script>
        <script src="scripts/services/addusercollection.js"></script>
        <script src="scripts/services/addproducttocollection.js"></script>
        <script src="scripts/directives/removefromcollection.js"></script>
        <script src="scripts/services/removeitemcollection.js"></script>
        <script src="scripts/services/followuser.js"></script>
        <script src="scripts/directives/modaleditprofile.js"></script>
        <script src="scripts/controllers/editprofile.js"></script>
        <script src="scripts/directives/modalcollections.js"></script>
        <script src="scripts/directives/modalsignin.js"></script>
        <script src="scripts/directives/modalsignup.js"></script>
        <script src="scripts/directives/modaladdproduct.js"></script>
        <script src="scripts/directives/buttonlike.js"></script>
        <script src="scripts/directives/buttoncollection.js"></script>
        <script src="scripts/directives/buttonaddproduct.js"></script>
        <script src="scripts/services/metainfo.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/feed.js"></script>
        <script src="scripts/controllers/auth.js"></script>
        <!-- endbuild -->
</body>
</html>
