<!-- ITERATING CATEGORIES START -->
<div class="container">

	<!-- BREADCRUMBS STARTS -->
	<div class="breadcrumbs row">
		<div class="">
				<ul itemscope itemtype="http://schema.org/BreadcrumbList">
				  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				    <a itemprop="item" ui-sref="homepage">
				    <span itemprop="name">Homepage</span></a>
				    <meta itemprop="position" content="1" />
				  </li>
					› <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				    <a itemprop="item" ui-sref="brands">
				    <span itemprop="name">Brand</span></a>
				    <meta itemprop="position" content="2" />
				  </li>
				</ul>		
		</div>
	</div>
	<!-- BREADCRUMBS ENDS -->

	<div class="page-info row">
		<div class="col-md-12">
			<h1>I migliori brand, raggruppati per facilitarti.</h1>
			<p>Comincia navigando tra i brands qui sotto, accederai a dei fantastici prodotti selezionati dalla community</p>
		</div>
	</div>
	
	<div class="row" style="margin:36px 0 72px 0">
		<div class="block-grid-lg-4 block-grid-md-4 block-grid-sm-2 block-grid-xs-2">
      <div class="block-grid-item category-list" ng-repeat="brand in Brands" itemtype="http://schema.org/ItemList">

        <!-- CATEGORY STARTS -->
          <div class="category" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
            <!-- CATEGORY INFO STARTS -->
            <div class="category-info">
              <a ui-sref="brand({brand_slug: brand.slug})" class="single-category-link" itemprop="url">
                <div class="black-overlay"></div>
                <div class="category-image">
                  <img ng-src="{{brand.image_url}}" alt="{{brand.name}}" class="img-responsive" itemprop="image">
                </div>
                <div class="category-name">
                  <h2 class="text-center" itemprop="name">{{brand.name}}</h2>
                </div>
              </a>
            </div>
            <!-- PRODUCT INFO ENDS-->

          </div>
        <!-- PRODUCT ENDS -->  
        </div>
      </div>
		</div>

</div>
<!-- ITERATING CATEGORIES END -->