<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<br />
			<h1>Modifica la tua password</h1>
			<br /><br />
			
			<form ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}">

			  <div class="input-group form-group">
			    <label>Nuova Password</label>
			    <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control"/>
			  </div>

			  <div class="input-group form-group">
			    <label>Conferma nuova password</label>
			    <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control" />
			  </div>

			  <button type="submit" class="btn btn-default user-action">Cambia password</button>
			</form>

			<div class="success-message animated fadeIn" ng-if="editPwdEmailSentSuccess" ng-bind="editPwdEmailSentSuccess"></div>
			<div class="error-message animated fadeIn" ng-if="editPwdEmailSentError" ng-bind="editPwdEmailSentError"></div>
			<br /><br />
			<strong>Faq</strong>
			<ul>
				<li>Non ti è arrivata la mail? Guarda nella casella "SPAM" o "INDESIDERATA"</li>
				<li>Se hai effettuato il primo accesso con un tuo profilo social, non ti serve recuperare la password. Puoi continuare ad accedere tramite quei profili.</li>
				<li>Una volta arrivata la mail clicca sul link "inserisci nuova password".</li>
				<li>Altro...</li>
			</ul>
		</div>
	</div>
</div>
