<!-- ITERATING CATEGORIES START -->
<div class="container">

	<!-- BREADCRUMBS STARTS -->
	<div class="breadcrumbs row">
		<div class="">
				<ul itemscope itemtype="http://schema.org/BreadcrumbList">
				  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				    <a itemprop="item" ui-sref="homepage">
				    <span itemprop="name">Homepage</span></a>
				    <meta itemprop="position" content="1" />
				  </li>
					› <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				    <a itemprop="item" ui-sref="categories">
				    <span itemprop="name">Categorie</span></a>
				    <meta itemprop="position" content="2" />
				  </li>
				  › <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				    <a itemprop="item" ui-sref="category({category_slug: category.category.slug})">
				    <span itemprop="name">{{category.category.name}}</span></a>
				    <meta itemprop="position" content="3" />
				  </li>
				</ul>		
		</div>
	</div>
	<!-- BREADCRUMBS ENDS -->

	<div class="page-info row">
		<div class="col-md-12">
			<h1>{{category.category.name}}</h1>
			<p>{{category.category.description}}</p>
		</div>
	</div>

	<div class="row" style="margin: 36px 0 72px 0;">
    <div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <div class="animated fadeIn block-grid-item product-list" ng-repeat="product in category.category.products" itemtype="http://schema.org/ItemList">
        <div product-single-preview></div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-center page-navigation">
      <a ui-sref="categoryPaginated({page: prevPage, category_slug: category.category.slug})" class="" ng-if="prevPage">Pagina precedente</a>
      <a ui-sref="categoryPaginated({page: nextPage, category_slug: category.category.slug})" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>
<!-- ITERATING CATEGORIES END -->