
<div class="container">
	<div class="row">
		<h1>Collezioni</h1>
	</div>
</div>

<div class="container collections">
	<div class="row">
		<ul class="collections-list">
			<li ng-repeat="collezione in Collezioni.collections" class="animated fadeIn single-collection-list">
				<div class="collection-info">
					<h2 class="collection-name text-center">
						<a ui-sref="collection({user_slug: collezione.user_slug, collection_slug: collezione.slug})">{{collezione.name}}</a>
					</h2>
					<p class="collection-image text-center">
						<a ui-sref="user({user_slug: collezione.user_slug})">
							<img ng-src="{{collezione.user_avatar}}" alt="">
						</a>
					</p>
					<p class="collection-auth text-center">
						Creata da <a ui-sref="user({user_slug: collezione.user_slug })">@{{collezione.nickname}}</a>
					</p>
				</div>
				<!-- PREVIEW PRODUCTS IN COLLECTION -->
				<div class="block-grid-lg-4 block-grid-md-4 block-grid-sm-4 block-grid-xs-2 products-preview">
		      <div class="block-grid-item single-product-preview" ng-repeat="product in collezione.products | limitTo:4" itemtype="http://schema.org/ItemList">
		        <a ui-sref="product({product_slug: product.slug})">
							<img ng-src="{{product.image_url}}" alt="">
						</a>
		      </div>
		    </div>
			</li>
		</ul>
	</div>
	<div class="row">
    <p class="text-center page-navigation">
      <a ui-sref="collectionsPaginated({page: prevPage})" class="" ng-if="prevPage">Pagina precedente</a>
      <a ui-sref="collectionsPaginated({page: nextPage})" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>
