
<div class="collection-info-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="pull-left"><a ui-sref="collections">Torna alle collezioni</a></p>
				<p class="pull-right" ng-if="user.slug == Collection.user_slug">
					<a href="#" ng-click="deleteCollection()">Cancella collezione</a>
				</p>
			</div>
			<div class="animated fadeIn col-md-12">
				<h1 class="collection-name text-center">{{Collection.name}}</h1>
				<p class="collection-image text-center">
					<img ng-src="{{Collection.user_avatar}}" alt="profilo utente di {{Collection.nickname}}" class="user_avatar">
				</p>
				<p class="text-center collection-author">
					creata da <a ui-sref="user({user_slug: Collection.user_slug})">@{{Collection.nickname}}</a>
				</p>				
			</div>
		</div>
	</div>
</div>


<div class="container" ng-if="Collection.description">
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<h2>{{Collection.description}}</h2>
		</div>
	</div>
</div>


<div class="loading" ng-hide="isPageLoaded" style="margin: 200px 0;">
  <p class="text-center">
    <img src="/images/preloader.gif" alt="">
  </p>
</div>

<div class="container products-list-collection" ng-if="Collection.products.length > 0">
	<div class="row">
		<div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <div class="animated fadeIn block-grid-item product-list" ng-repeat="product in Collection.products" itemtype="http://schema.org/ItemList">
           <div product-single-preview></div>
      </div>
    </div>
	</div>
</div>

<div class="container not-products-list-collection" ng-if="Collection.products.length == 0">
	<div class="row">
		<h3 class="text-center no-products-message">Nessun prodotto nella collezione</h3>
	</div>
</div>


