<div class="container">
	<h1>The Feed</h1>
</div>
<div class="container">
	<div class="col-md-8 col-md-8-push-2">
		<ul class="feed-list ">

			<li ng-repeat="atom in Feed" class="row">
				<div class="col-md-1 image">
					<a ui-sref="user({user_slug: atom.user_slug})">
						<img ng-src="{{atom.user_image}}">
					</a>
				</div>
				<div class="col-md-11 content" ng-switch="atom.type">
					<div ng-switch-when="comment">
						<p><span am-time-ago="atom.date"></span></p>
						<a ui-sref="user({user_slug: atom.user_slug})">{{atom.user_name}}</a> ha commentato <a ui-sref="product({product_slug: atom.product_slug})">un prodotto</a> <span class="pull-right">
							<a ui-sref="product({product_slug: atom.product_slug})">
								<img ng-src="{{atom.product_image}}" height="60" width="auto">
							</a>
						</span>
					</div>
					<div ng-switch-when="follow">
						<p><span am-time-ago="atom.date"></span></p>
						<a ui-sref="user({user_slug: atom.user_slug})">{{atom.user_name}}</a> ora segue <a ui-sref="user({user_slug: atom.target_slug})">{{atom.target_name}}</a> <span class="pull-right"><a ui-sref="user({user_slug: atom.target_slug})"><img ng-src="{{atom.target_image}}"></a></span>
					</div>
					<div ng-switch-when="like">
						<p><span am-time-ago="atom.date"></span></p>
						<a ui-sref="user({user_slug: atom.user_slug})">{{atom.user_name}}</a> ha aggiunto un prodotto ai preferiti <span class="pull-right"><a ui-sref="product({product_slug: atom.product_slug})">
								<img ng-src="{{atom.product_image}}" height="60" width="auto">
							</a></span>
					</div>
					<div ng-switch-when="find">
						<p><span am-time-ago="atom.date"></span></p>
						<a ui-sref="user({user_slug: atom.user_slug})">{{atom.user_name}}</a> ha scoperto un prodotto <span class="pull-right">
						<a ui-sref="product({product_slug: atom.product_slug})">
								<img ng-src="{{atom.product_image}}" height="60" width="auto">
							</a>
						</span>
					</div>
					<div ng-switch-when="collection">
						<p><span am-time-ago="atom.date"></span></p>
						<a ui-sref="user({user_slug: atom.user_slug})">{{atom.user_name}}</a> ha creato <a ui-sref="collection({user_slug: atom.user_slug, collection_slug: atom.target_slug})">una collezione</a>
					</div>
					<div ng-switch-default>
						<p><span am-time-ago="atom.date"></span></p>
						<a ui-sref="user({user_slug: atom.user_slug})">{{atom.user_name}}</a> non fa un cazzo.
					</div>
				</div>
			</li>

		</ul>
	</div>
</div>