<div class="container">
	<div class="footer-navigation-container row">
		<div class="col-md-4">
			<ul class="footer-nav">
				<li class="nav-title">Chi siamo</li>
				<li><a href="#">Cos'è questo servizio</a></li>
				<li><a href="#">Come funziona</a></li>
				<li><a href="#">Come usarlo</a></li>
				<li><a href="#">Domande frequenti</a></li>
				<li><a href="#">Blog & Journal</a></li>
				<li><a href="#">Sitemap</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="footer-nav">
				<li class="nav-title">Legal & Disclaimer</li>
				<li><a href="">Regolamento</a></li>
				<li><a href="">Privacy</a></li>
				<li><a href="">Info & Abuses</a></li>
				<li><a href="">Riporta Abuso</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="footer-nav">
				<li class="nav-title">Siamo presenti su:</li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Twitter</a></li>
				<li><a href="">Instagram</a></li>
				<li><a href="">Pinterest</a></li>
				<li><a href="">Tumblr</a></li>
				<li><a href="">Stocazzo</a></li>
			</ul>
		</div>
	</div>
	<div class="row copy">
		<p class="text-center">© NomeServizio.it | p.iva IT123412581924 | Milano 2015</p>
	</div>
</div>
