<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" ng-click="user.signedIn? openModal('editprofile') : openModal('signin')" data-target="#singup-login, #modal-edit-profile" data-toggle="modal" style="height: 40px; width: 40px;">
        <img ng-if="user.signedIn" ng-src="{{user.small_avatar}}" style="height: 20px; width: 20px;">
        <i class="fa fa-user" ng-if="!user.signedIn"></i>
        <span class="sr-only">Accedi</span>
      </button>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#open-search-mobile" style="height: 40px; width: 40px;">
        <i class="fa fa-search"></i>
        <span class="sr-only">Cerca</span>
      </button>
      
      <a class="navbar-brand" ui-sref="homepage" ng-click="$state.go('homepage')" title="vai alla homepage">
        <img src="images/logo.png" class="img-responsive" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-left" id="open-search-mobile">

      <form class="navbar-form navbar-left search-form" role="search" ng-submit="submitSearch(searchForm)"  ng-init="searchForm = {}">
        <input type="text" ng-model="searchForm.search" placeholder="Cerca prodotti, categorie, utenti o altro..." ><button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
      </form>

    </div><!-- /.navbar-collapse -->

    <ul class="nav navbar-nav navbar-right" header-user-signin></ul>

  </div><!-- /.container-fluid -->
</nav>
