<!-- <div class="hello" ng-if="!user.signedIn">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><strong>-sitename-</strong> i migliori prodotti di Amazon in un unico posto</h1>
        <h2>Prodotti di cui non sapevi della loro esistenza. Portati alla luce.</h2>
      </div>
    </div>
  </div>
</div> -->

<div class="thespacer">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div class="loading" ng-hide="isPageLoaded" style="margin: 200px 0;">
  <p class="text-center">
    <img src="/images/preloader.gif" alt="">
  </p>
</div>

<div class="feed">
  
</div>

<div class="container products-list">
  <div class="row">
    <div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <div class="block-grid-item product-list animated fadeIn " ng-repeat="product in products.products" itemtype="http://schema.org/ItemList">
           <div product-single-preview></div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-center page-navigation">
      <a ui-sref="homepagePaginated({page: prevPage})" class="" ng-if="prevPage">Pagina precedente</a>
      <a ui-sref="homepagePaginated({page: nextPage})" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>
