<!-- ITERATING PRODUCT STARTS -->
<div class="container">
	<!-- BREADCRUMBS STARTS -->
	<div class="breadcrumbs row hidden-sm hidden-xs">
		<div class="">
				<ul itemscope itemtype="http://schema.org/BreadcrumbList">
				  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				    <a itemprop="item" ui-sref="homepage">
				    <span itemprop="name">Homepage</span></a>
				    <meta itemprop="position" content="1" />
				  </li>
					› <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				    <a itemprop="item" ui-sref="categories">
				    <span itemprop="name">Prodotti</span></a>
				    <meta itemprop="position" content="2" />
				  </li>
				  <li ng-if="product.category_slug" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				  	› 
				    <a itemprop="item" ui-sref="category({category_slug: product.category_slug})">
				    <span itemprop="name">{{product.category_name}}</span></a>
				    <meta itemprop="position" content="3" />
				  </li>
				  › <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				    <!-- <a itemprop="item" href="prodotto/{{product.name | slugify}}"> -->
				    <a itemprop="item" ui-sref="product({product_slug: product.slug})">
				    <span itemprop="name">{{product.name}}</span></a>
				    <meta itemprop="position" content="3" />
				  </li>
				</ul>		
		</div>
	</div>
	<!-- BREADCRUMBS ENDS -->

	<div class="loading" ng-hide="isPageLoaded" style="margin: 200px 0;">
		<p class="text-center">
		  <img src="/images/preloader.gif" alt="">
		</p>
	</div>
	
	<!-- SINGLE PRODUCT STARTS -->
	<div class="product-single-page row" ng-if="isPageLoaded">

		<!-- PRODUCT INFO STARTS -->
		<section class="animated fadeIn product-info row" itemscope="" itemtype="http://schema.org/Product">

			<!-- PRODUCT IMAGE STARTS -->
			<div class="product-image col-md-6 col-sm-12">
				<div class="product-image-container" style="background-image: url({{product.image_url}}) ">
				</div>
				<!-- <img ng-src="{{product.urlimage}}" alt="Acquista {{product.name}} su Amazon" class="img-responsive" itemprop="image"> -->
			</div>
			<!-- PRODUCT IMAGE ENDS -->

			<!-- PRODUCT INFO EXPANDED STARTS -->
			<div class="product-expanded-info col-md-6 col-sm-12">
				<h1 class="product-name" itemprop="name">{{product.name | limitTo: 100}}</h1>

				<p class="product-description" itemprop="description" ng-if="product.description">{{product.description}}</p>

				<!-- PRODUCT OUTGOING LINK STARTS -->
				<a href="{{product.amazon_url}}" target="_blank" rel="nofollow" class="btn product-outgoing-link" itemprop="url" title="{{product.name}}" analytics-on="click" analytics-event="Outgoing to amazon" analytics-category="toAmazon" analytics-label="{{product.name}}">Acquistalo a <sup>€</sup> {{product.price | currency:"":0}} su Amazon</a>
				<!-- PRODUCT OUTGOING LINK ENDS -->

				<!-- PRODUCT DISCOVERER STARTS -->
					<p class="product-discoverer animated fadeIn hidden-xs" ng-if="product.discoverer_nickname" >
						Scoperto da: <strong> <em><a ui-sref="user({user_slug: product.discoverer_nickname})">{{product.discoverer_name}}</a></em> </strong>
					</p>
				<!-- PRODUCT DISCOVERER ENDS -->

				<!-- PRODUCT LIKES STARTS -->
				<div class="product-likes">
					<ul class="product-likes-list">
		        <li class="animated fadeIn" ng-repeat="like in product.likes | limitTo:6">
		          <a ui-sref="user({user_slug: like.nickname})" title="Link al profilo personale di {{like.nickname}}">
		          	<img ng-src="{{like.small_avatar}}" alt="{{like.nickname}}" title="Profilo personale di {{like.nickname}}" data-toggle="tooltip" data-placement="top" title="{{like.nickname}}">
		          </a>
		        </li>
		      </ul>
				</div>
				<!-- PRODUCT LIKES ENDS -->

				<!-- PRODUCT SHARE STARTS -->
				<div class="product-sharable hidden-xs">
					<ul class="product-share">
		        <!-- PRODUCT ACTION LIKE ENDS -->
						<li><p>Condividi</p></li>
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-tumblr"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
					</ul>
				</div>
				<!-- PRODUCT SHARE ENDS -->

			</div>
			<!-- PRODUCT INFO EXPANDED ENDS -->

			<ul class="product-do-action">
				<!-- PRODUCT ACTION  -->
        <li class="product-action" like-product></li>
        <li class="product-action">
        	<!-- Button trigger modal -->
	        <button class="product-action-collect btn btn-default"  ng-click="user.signedIn? openModal('addtocollections', product.slug) : openModal('signin')" ng-class="add_to_collection" data-target="#singup-login, #collectionList" data-toggle="modal">
	          <i class="fa fa-plus"></i>
	        </button>
        </li>
			</ul>
			
		</section>
		<!-- PRODUCT INFO ENDS -->

		<!-- PRODUCT NOTE-STAFF STARTS -->
		<section class="editor-review row" itemprop="review" itemscope itemtype="http://schema.org/Review" ng-if="product.has_review">
			<div class="col-md-10 col-md-push-1">
				<h2 itemprop="name">Recensione dal nostro staff</h2>
				<p itemprop="reviewBody">Godard church-key kogi readymade. Wayfarers distillery before they sold out, DIY church-key vinyl gluten-free butcher stumptown you probably haven't heard of them artisan cliche crucifix. Scenester four dollar toast yr fixie, roof party Tumblr dreamcatcher Godard asymmetrical cold-pressed occupy. Schlitz mlkshk selfies jean shorts try-hard. Actually polaroid cold-pressed keffiyeh put a bird on it Kickstarter. Before they sold out tofu mixtape next level Wes Anderson try-hard put a bird on it 3 wolf moon. Helvetica Austin jean shorts hella.</p>
			</div>
		</section>
		<!-- PRODUCT NOTE-STAFF ENDS -->
		
		<!-- PRODUCT RELATED BY CATEGORIES STARTS -->
		<section class="related-products row" ng-if="product.same_category_products.length > 0">
			<ul class="block-grid-lg-6 block-grid-md-6 block-grid-sm-6 block-grid-xs-3">
				<li class="area-description block-grid-item">
					<h3>Altro in:<br/> <a ui-sref="category({category_slug: product.category_slug})">{{product.category_name}}</a></h3>
				</li>
				<li class="related-item block-grid-item" ng-repeat="related in product.same_category_products">
					<a ui-sref="product({product_slug: related.slug})" target="_self">
						<div class="black-overlay"></div>
						<div class="img-related" style="background-image:url({{related.image_url}})"></div>
						<!-- <img ng-src="{{related.image_url}}" alt="Prodotto simile a {{related.name}}" class="img-responsive"> -->
					</a>
				</li>
			</ul>
		</section>
		<!-- PRODUCT INFO ENDS -->

		<!-- PRODUCT RELATED BY CATEGORIES STARTS -->
		<section class="related-products row" ng-if="product.same_manufacturer_products.length > 0">
			<ul class="block-grid-lg-6 block-grid-md-6 block-grid-sm-6 block-grid-xs-3">
				<li class="area-description block-grid-item">
					<h3>Altro da:<br /> <a ui-sref="brand({brand_slug: product.manufacturer_slug})">{{product.manufacturer_name}}</a></h3>
				</li>
				<li class="related-item block-grid-item" ng-repeat="related in product.same_manufacturer_products">
					<a ui-sref="product({product_slug: related.slug})" target="_self">
						<div class="black-overlay"></div>
						<div class="img-related" style="background-image:url({{related.image_url}})"></div>
						<!-- <img ng-src="{{related.image_url}}" alt="Prodotto simile a {{related.name}}" class="img-responsive"> -->
					</a>
				</li>
			</ul>
		</section>
		<!-- PRODUCT INFO ENDS -->

		<!-- PRODUCT VIEW COMMENTS STARTS -->
		<section class="product-comments row" ng-if="product.comments_count > 0">
			<div class="col-md-8 col-md-push-2">
				<h3 class="sub-section-title">Commenti {{product.comments_count}}</h3>
				<ul class="comments-list">
					<li ng-repeat="comment in product.comments" class="animated fadeIn single-comment">
						<div class="commented-by">
							<div class="user-image pull-left">
								<a ui-sref="user({user_slug: comment.nickname})">
									<img ng-src="{{comment.small_avatar}}" alt="">
								</a>
							</div>
							<div class="user-info">
								<p class="nickname">Da <a ui-sref="user({user_slug: comment.nickname})">{{comment.nickname}}</a></p>
								<div class="comment-text">
									<p>{{comment.text}}</p>
								</div>
								<p class="meta-tags">
									Scritto <span am-time-ago="comment.created_at"></span>
								</p>
							</div>
						</div>
						<!-- <div class="comment-text">
							<p>{{comment.text}}</p>
						</div> -->
					</li>
				</ul>
			</div>
		</section>

		<!-- PRODUCT COMMENT STARTS -->
		<section class="product-comment row">
			<div class="col-md-8 col-md-push-2">
				<h3 class="sub-section-title">Cosa ne pensi di questo prodotto?</h3>
			</div>
			<div class="sub-col-comment-form col-md-8 col-md-push-2">
				<div class="col-md-1" ng-if="user.signedIn">
					<img ng-src="{{user.small_avatar}}" class="user-signedin-avatar-comment">
				</div>
				<div class="col-md-10">

					<!-- USER LOGGED -->
					<form ng-if="user.signedIn" ng-submit="submitComment(commentForm)" role="form" ng-init="commentForm = {}">
						<input type="text" placeholder="Fai sapere a tutti cosa pensi di questo prodotto"name="email" ng-model="commentForm.commentText" required="required" class="form-control">
						<!-- <input type="hidden" ng-model="commentForm.productId" value="{{product.slug}}">  -->
						<button class="btn user-action" type="submit">Invia commento</button>
					</form>

					<!-- USER NOT LOGGED -->
					<form ng-if="!user.signedIn" role="form" ng-init="commentForm = {}">
						<input type="text" placeholder="Fai sapere a tutti cosa pensi di questo prodotto"name="email" ng-model="commentForm.text"  class="form-control">
						<button class="btn user-action" data-target="#showauth" data-toggle="modal">Invia commento</button>
					</form>

				</div>
			</div>
		</section>

	</div>
			
		<!-- PRODUCT COMMENT ENDS -->

	</div>
	<!-- SINGLE PRODUCT ENDS -->

</div> 
<!-- ITERATING PRODUCT ENDS -->

