<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<br />
			<h1>Recupera la tua password</h1>
			<br /><br />
			<form ng-submit="requestPasswordReset(passwordResetForm)" role="form" ng-init="passwordResetForm = {}">
			  <div class="form-group">
			    <label>email</label>
			    <input type="email" name="email" ng-model="passwordResetForm.email" required="required" class="form-control"/>
			  </div>

			  <button type="submit" class="btn btn-primary btn-lg">Request password reset</button>
			</form>

			<div class="success-message animated fadeIn" ng-if="resetPwdEmailSentSuccess" ng-bind="resetPwdEmailSentSuccess">
				
			</div>
			<div class="error-message animated fadeIn" ng-if="resetPwdEmailSentError" ng-bind="resetPwdEmailSentError">
			</div>
			<br /><br />
			<strong>Faq</strong>
			<ul>
				<li>Non ti è arrivata la mail? Guarda nella casella "SPAM" o "INDESIDERATA"</li>
				<li>Se hai effettuato il primo accesso con un tuo profilo social, non ti serve recuperare la password. Puoi continuare ad accedere tramite quei profili.</li>
				<li>Una volta arrivata la mail clicca sul link "inserisci nuova password".</li>
				<li>Altro...</li>
			</ul>
		</div>
	</div>
</div>