
<div class="container products-list">
  <div class="row">
    <h1>Ricerca per <span ng-bind="researchedString" style="font-weight:600"></span></h1>
    <h4>Abbiamo trovato <span ng-bind="researchedElements"></span> prodotti.</h4>
  </div>
</div>

<div class="loading" ng-hide="isPageLoaded" style="margin: 200px 0;">
  <p class="text-center">
    <img src="/images/preloader.gif" alt="">
  </p>
</div>

<div class="container products-list">
  <div class="row" ng-if="researchedElements > 0">
    <div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <div class="block-grid-item product-list animated fadeIn " ng-repeat="product in Search.products" itemtype="http://schema.org/ItemList">
           <div product-single-preview></div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="researchedElements === 0">
    <h3 class="text-center" style="margin: 100px auto">Nessun prodotto trovato per la tua ricerca</h3>
  </div>
  <div class="row" ng-if="researchedElements > 0">
    <p class="text-center page-navigation">
      <a ui-sref="searchPaginated({page: prevPage, q: researchedString})" class="" ng-if="prevPage">Pagina precedente</a>
      <a ui-sref="searchPaginated({page: nextPage, q: researchedString})" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>
