<div class="user-info-bar">
	<div class="container">
		<div class="row single-user">
			<div class="col-md-6">
				<div class="pull-left">
					<img ng-src="{{Utente.small_avatar}}" alt="profilo utente di {{Utente.nickname}}" class="user_avatar" widht="65" height="65">
				</div>
				<div class="pull-left">
					<p class="user-name">{{Utente.name}}</p>
					<p class="user-at">@{{Utente.nickname}}</p>
				</div>
			</div>
			<div class="col-md-6">
				<ul class="user-followers pull-right">
					<li>
						<a href="#">Segue {{Utente.following_count}} </a>
					</li>
					<li>
						<a href="#">Lo seguono {{Utente.followers_count}}</a>
					</li>
					<li ng-repeat="user in Utente.followers" class="animated fadeIn">
						<a ui-sref="user({user_slug: user.nickname})">
							<img ng-src="{{user.small_avatar}}" alt="profilo di {{user.nickname}}">
						</a>
					</li>
					<li>
						<button ng-if="!user.signedIn" class="btn user-action follow-user" data-target="#showauth" data-toggle="modal">Segui</button>

						<button ng-if="user.signedIn" class="btn user-action follow-user" ng-click="followUser(Utente.slug)" ng-mouseover="stopFollow = 'smetti di seguire'" ng-mouseleave="stopFollow = 'segui già'" ng-init="stopFollow = 'segui gia'" ng-class="{'btn-danger': stopFollow == 'smetti di seguire' && Utente.followed_by_user}">{{Utente.followed_by_user ? stopFollow : 'Segui'}}</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<ul class="filter-user-tab">
			<li>
				<a ui-sref="user({user_slug: Utente.nickname})" ng-class="{active: $state.is('user')}">
					Liked {{Utente.liked_products_count}}
				</a>
			</li>
			<li>
				<a ui-sref="userDiscovered({user_slug: Utente.nickname})" ng-class="{active: $state.is('userDiscovered')}">
					Scoperti {{Utente.discovered_products_count}}
				</a>
			</li>
			<li>
				<a ui-sref="userCollections({user_slug: Utente.nickname})" ng-class="{active: $state.is('userCollections')}">
					Collezioni {{Utente.collections_count}}
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="container" ng-if="$state.is('user')">
  <div class="row">
    <div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <div class="animated fadeIn block-grid-item product-list" ng-repeat="product in Utente.liked_products" itemtype="http://schema.org/ItemList">
           <div product-single-preview></div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-center page-navigation">
      <a href="/pagina/{{prevPage}}" class="" ng-if="prevPage">Pagina precedente</a>
      <a href="/pagina/{{nextPage}}" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>
	
<div class="container" ng-if="$state.is('userDiscovered')">
  <div class="row">
    <div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <div class="animated fadeIn block-grid-item product-list" ng-repeat="product in Utente.discovered_products" itemtype="http://schema.org/ItemList">
           <div product-single-preview></div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-center page-navigation">
      <a href="/pagina/{{prevPage}}" class="" ng-if="prevPage">Pagina precedente</a>
      <a href="/pagina/{{nextPage}}" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>

<div class="container collections" ng-if="$state.is('userCollections')">
	<div class="row">
		<ul class="collections-list">
			<li ng-repeat="collezione in Utente.collections" class="animated fadeIn single-collection-list">
				<div class="collection-info">
					<h2 class="collection-name text-center">
						<a ui-sref="collection({user_slug: collezione.user_slug, collection_slug: collezione.slug})">{{collezione.name}}</a>
					</h2>
					<p class="collection-image text-center">
						<a ui-sref="user({user_slug: collezione.user_slug})">
							<img ng-src="{{collezione.user_avatar}}" alt="">
						</a>
					</p>
					<p class="collection-auth text-center">
						create da <a ui-sref="user({user_slug: collezione.user_slug })">@{{collezione.nickname}}</a>
					</p>
				</div>
				<!-- PREVIEW PRODUCTS IN COLLECTION -->
				<div class="block-grid-lg-4 block-grid-md-4 block-grid-sm-4 block-grid-xs-2 products-preview" ng-if="collezione.products.length > 0">
		      <div class="block-grid-item single-product-preview" ng-repeat="product in collezione.products | limitTo:4" itemtype="http://schema.org/ItemList">
		        <a ui-sref="product({product_slug: product.slug})">
							<img ng-src="{{product.image_url}}" alt="">
						</a>
		      </div>
		    </div>
		    <div class=" products-preview" ng-if="collezione.products.length == 0">
		    	<div class="">
		    		<h3 class="text-center">Nessun prodotto nella collezione</h3>
		    	</div>
		    </div>
			</li>
		</ul>
	</div>
  <div class="row">
    <p class="text-center page-navigation">
      <a href="/pagina/{{prevPage}}" class="" ng-if="prevPage">Pagina precedente</a>
      <a href="/pagina/{{nextPage}}" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>
	