<div class="user-info-bar">
	<div class="container">
		<div class="row single-user">
			<div class="col-md-6">
				<div class="pull-left">
					<img ng-src="{{Utente.small_avatar}}" alt="profilo utente di {{Utente.nickname}}" class="user_avatar">
				</div>
				<div class="pull-left">
					<p class="user-name">{{Utente.name}}</p>
					<p class="user-at">@{{Utente.nickname}}</p>
				</div>
			</div>
			<div class="col-md-6">
				
				<ul class="user-followers pull-right">
					<li>
						<a href="#">Segue {{Utente.following_count}} </a>
					</li>
					<li>
						<a href="#">Lo seguono {{Utente.followers_count}}</a>
					</li>
					<li ng-repeat="user in Utente.followers" >
						<a ui-sref="user({user_slug: user.nickname})">
							<img ng-src="{{user.small_avatar}}" alt="profilo di {{user.nickname}}">
						</a>
					</li>
					<li><a href="#" class="btn user-action">Segui</a></li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<ul class="filter-user-tab">
			<li>
				<a ui-sref="user({user_slug: Utente.nickname})" ng-class="{active: $state.is('user')}">
					Liked {{Utente.liked_products_count}}
				</a>
			</li>
			<li>
				<a ui-sref="user.discovered({user_slug: Utente.nickname})" ng-class="{active: $state.is('user.discovered')}">
					Scoperti {{Utente.discovered_products_count}}
				</a>
			</li>
			<li>
				<a ui-sref="user.collections({user_slug: Utente.nickname})" ng-class="{active: $state.is('user.collections')}">
					Collezioni {{Utente.collections_count}}
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="container" ng-if="$state.is('user')">
  <div class="row">
    <div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <div class="block-grid-item product-list" ng-repeat="product in Utente.liked_products" itemtype="http://schema.org/ItemList">
           <div product-single-preview></div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-center page-navigation">
      <a href="/pagina/{{prevPage}}" class="" ng-if="prevPage">Pagina precedente</a>
      <a href="/pagina/{{nextPage}}" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>
	
<div class="container" ng-if="$state.is('user.discovered')">
  <div class="row">
    <div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <div class="block-grid-item product-list" ng-repeat="product in Utente.discovered_products" itemtype="http://schema.org/ItemList">
           <div product-single-preview></div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-center page-navigation">
      <a href="/pagina/{{prevPage}}" class="" ng-if="prevPage">Pagina precedente</a>
      <a href="/pagina/{{nextPage}}" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>


<div class="container" ng-if="$state.is('user.collections')">
  <div class="row">
    <ul class="collections-list">
			<li ng-repeat="collezione in Collezioni" class="single-collection-list">
				<h3>
					<a ui-sref="collection({user_slug: collezione.user_slug, collection_slug: collezione.slug})">{{collezione.name}}</a>
				</h3>
				<a ui-sref="user({user_slug: collezione.user_slug})">
					<img ng-src="{{collezione.user_avatar}}" alt=""> By: @{{collezione.nickname}}
				</a>
					<!-- PREVIEW PRODUCTS IN COLLECTION -->
					<ul class="products-preview">
						<li ng-repeat="product in collezione.products" class="single-product-preview">
							<a ui-sref="product({product_slug: product.slug})">
								<img ng-src="{{product.image_url}}" alt="">
							</a>
						</li>
					</ul>
			</li>
		</ul>
  </div>
  <div class="row">
    <p class="text-center page-navigation">
      <a href="/pagina/{{prevPage}}" class="" ng-if="prevPage">Pagina precedente</a>
      <a href="/pagina/{{nextPage}}" class="" ng-if="nextPage">Pagina successiva</a>
    </p>
  </div>
</div>
	